In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://postgres:Pa55w.rd@localhost:5432/usda

env: DATABASE_URL=postgresql://postgres:Pa55w.rd@localhost:5432/usda

In [3]:
%sql SELECT current_timestamp

1 rows affected.

[(datetime.datetime(2022, 2, 19, 19, 11, 16, 932340, tzinfo=datetime.timezone(datetime.timedelta(seconds=10800))),)]

In [8]:
%sql SELECT * FROM information_schema.tables  LIMIT 10 ;

 * postgresql://postgres:***@localhost:5432/usda
10 rows affected.

[('usda', 'public', 'nut_data', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'fd_group', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'src_cd', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'food_des', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'footnote', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'nutr_def', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'deriv_cd', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'pg_catalog', 'pg_statistic', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('usda', 'public', 'weight', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [13]:
%sql SELECT * FROM public.food_des limit 5;

 * postgresql://postgres:***@localhost:5432/usda
5 rows affected.

[('01001', '0100', 'Butter, salted', 'BUTTER,WITH SALT', '', '', 'Y', '', 0, '', 6.38, 4.27, 8.79, 3.87),
 ('01002', '0100', 'Butter, whipped, with salt', 'BUTTER,WHIPPED,WITH SALT', '', '', 'Y', '', 0, '', 6.38, 4.27, 8.79, 3.87),
 ('01003', '0100', 'Butter oil, anhydrous', 'BUTTER OIL,ANHYDROUS', '', '', 'Y', '', 0, '', 6.38, 4.27, 8.79, 3.87),
 ('01004', '0100', 'Cheese, blue', 'CHEESE,BLUE', '', '', 'Y', '', 0, '', 6.38, 4.27, 8.79, 3.87),
 ('01005', '0100', 'Cheese, brick', 'CHEESE,BRICK', '', '', 'Y', '', 0, '', 6.38, 4.27, 8.79, 3.87)]

In [14]:
%sql SELECT coalesce(round(cho_factor::numeric,0),0) FROM public.food_des LIMIT  3;

 * postgresql://postgres:***@localhost:5432/usda
3 rows affected.

[(Decimal('4'),), (Decimal('4'),), (Decimal('4'),)]

In [16]:
%%sql resulset <<

SELECT coalesce(round(cho_factor::numeric,0),0) FROM public.food_des LIMIT  3;

 * postgresql://postgres:***@localhost:5432/usda
3 rows affected.
Returning data to local variable resulset

In [17]:
display(resulset)

[(Decimal('4'),), (Decimal('4'),), (Decimal('4'),)]